<%- include('../partials/header.ejs') %>

<body>
    
<h1>Welcome, <%= user.name %></h1>

    <% if (goals.length > 0) { %>
        <ul>
            <% goals.forEach(goal => { %>
            <li>Your goal: <%= goal.name %> (<%= goal.Type %>)</li>
            <% }) %>
        </ul>
    <% } else { %>
    <p>You have no goals yet.</p>
    <% } %>



<div class = 'activity'>
    <h3>todays task</h3>
    <ul>
        <li>test</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>




</body>


<%- include('../partials/footer.ejs') %>