<%- include('../partials/header.ejs') %>

<body>
    
<h1>Welcome, <%= user.name %></h1>

<div class="goals">
<% if (goals.length > 0) { %>
        <ul class = 'goals'>
            <% goals.forEach(goal => { %>
            <li>Your goal: <%= goal.name %> (<%= goal.Type %>)</li>
            <% }) %>
        </ul>
    <% } else { %>
    <p>You have no goals yet.</p>
    <% } %>

    <a href="/user/goalsIndex">Manage my goals</a>
</div>


<div class = 'taskbar'>
    <h3>task</h3>
    <% if (goals.task) { %>
            <ul class = 'taskbar'>
                <% goals.task.forEach(task => { %>
                <li>Your task: <%= task.name %> (<%= task.Type %>)</li>
                <% }) %>
            </ul>
        <% } else { %>
        <p>You have no task yet. lets make a <a href="/user/newTask">new task</a></p>
        <% } %>

</div>



</body>


<%- include('../partials/footer.ejs') %>