<%- include('../partials/header.ejs') %>

<body>
    
<h1>Welcome, <%= user.name %></h1>

<div class="goals">
<% if (goals.length > 0) { %>
        <ul class = 'goals'>
            <% goals.forEach(goal => { %>
            <li>Your goal: <%= goal.name %> (<%= goal.Type %>)</li>
            <% }) %>
        </ul>
    <% } else { %>
    <p>You have no goals yet.</p>
    <% } %>
</div>


<div class = 'taskbar'>
    <h3>todays task</h3>
    <ul>
        <li>test</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>



</body>


<%- include('../partials/footer.ejs') %>