<%- include('../partials/header.ejs') %>

<body>
    
<h1>Welcome, <%= user.name %></h1>

<div class="goals">
<% if (goals.length > 0) { %>
        <ul class = 'goals'>
            <% goals.forEach(goal => { %>
            <li>Your goal: <%= goal.name %> (<%= goal.Type %>)</li>
            <% }) %>
        </ul>
    <% } else { %>
    <p>You have no goals yet.</p>
    <% } %>

    <a href="/user/goalsIndex">Manage my goals</a>
</div>


<div class='taskbar'>
    <h3>Tasks</h3>
    <% if (goals.length > 0) { %>
        <% goals.forEach(goal => { %>
            <% if (goal.task && goal.task.length > 0) { %>
                <ul class='taskbar'>
                    <% goal.task.forEach(task => { %>
                        <li>Your task: <%= task.title %> (Due: <%= task.dueDate.toDateString() %>)</li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>No tasks for goal "<%= goal.name %>" yet.</p>
            <% } %>
        <% }) %>
    <% } else { %>
        <p>You have no goals yet. Let's make a <a href="/user/new">new goal</a>.</p>
    <% } %>
    <a href="/user/task/index">Manage my Task</a>
    <a href="/user/newTask">New Task</a>
</div>



</body>


<%- include('../partials/footer.ejs') %>