<%- include('../partials/header.ejs') %>


<body>
    
<h1>Welcome, <%= user.name %></h1>

<div class="HP">

    
    

    <div class="left-column">

        <div class="goals">
            <h3>Select a Goal</h3>
            <% if (goals.length > 0) { %>
                <select id="goalSelect">
                    <option value="">--Choose a Goal--</option>
                    <% goals.forEach((goal, index) => { %>
                        <option value="<%= index %>"><%= goal.name %> (<%= goal.Type %>)</option>
                    <% }) %>
                </select>
            <% } else { %>
                <p>You have no goals yet.</p>
            <% } %>
            <br>
            <a href="/user/goalsIndex"><button type="button" class="btn btn-success">Manage my goals</button></a>
            
        </div>

        <div class="taskbar">
            <h3>Tasks</h3>

            <% goals.forEach((goal, index) => { %>
                <div class="task-list" data-goal-index="<%= index %>" style="display: none;">
                    <% if (goal.task && goal.task.length > 0) { %>
                        <ul class="taskbar">
                            <% goal.task.forEach(task => { %>
                                <li>Your task: <%= task.title %> (Due: <%= task.dueDate.toDateString() %>)</li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No tasks for goal "<%= goal.name %>" yet.</p>
                    <% } %>
                </div>
            <% }) %>

            <a href="/user/task/index"><button type="button" class="btn btn-success">Manage my Task</button></a>
            <br>
            <a href="/user/newTask"><button type="button" class="btn btn-success">New Task</button></a>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const goalSelect = document.getElementById('goalSelect');
                const taskLists = document.querySelectorAll('.task-list');

                goalSelect?.addEventListener('change', () => {
                    const selectedIndex = goalSelect.value;

                    taskLists.forEach(list => {
                        if (list.dataset.goalIndex === selectedIndex) {
                            list.style.display = 'block';
                        } else {
                            list.style.display = 'none';
                        }
                    });
                });
            });
        </script>


    </div>



    <div class="right-column">
         <div id='calendar'></div>
    </div>


</div>





</body>


<%- include('../partials/footer.ejs') %>