<%- include('../../partials/header') %>


<body>
    <% if (goals.length > 0) { %>
        <ul class='goals'>
            <% goals.forEach(goal => { %>
                <li>
                    <strong>Your goal:</strong> <%= goal.name %> (<%= goal.Type %>)

                    <!-- Delete Goal Button -->
                    <form action="/user/goals/<%= goal._id %>?_method=DELETE" method="POST"">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>You have no goals yet.</p>
    <% } %>
</body>


<%- include('../../partials/footer.ejs') %>